<div class="jumbotron">
        <h2>Welcome to Sam's app</h2>
        <p>
            You can upload messages, create groups, send messages to the group. To read the messages, you need to use Android app created for that purpose.
            This is a test project.
        </p>
</div>
